# build output
main.js
*.js.map

# dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Environment
.env
.env.local

# Temp
*.tmp
/tmp/
